#canvas {
    border: 5px solid;
}

div {
	border: 1px dashed red
}

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}
button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

#coloursDiv{
	background-color: #009900;
}
.lgreen {
    background-color: #009900;
    color: white;
}
.shapebtn {
    width: 2.2em;
    height: 2.2em;
}
.toolbtn{
	background-image: url("../img/button1.png");
	background-size: 100% 100%;
}

.colorbtn{
	background-image: url("../img/button1.png");
	background-size: 100% 100%;
}
.blue {
    color: #95ccff;
}
.gray {
    color: #424242;
}
.yellow {
    color: #f1f827;
}
.white {
    color: white;
}
.red {
    color: red;
}

.border {
	background-image: url("../img/button2red.png");
	background-size: 100% 100%;
}