div {
	border: 1px dashed red
}

body {
	background: url("../img/main_bg.jpg") no-repeat center #e7e7e7;
	background-position:top center;
}

#canvasWrapper {
	padding:0px;
}

#canvas {
    border: 5px solid;
}

#mainWrapper{
	max-width:1060px;
	min-height:600px;
	margin:0 auto;
	background:url('../img/content_bg.jpg') no-repeat center top #e7e7e7;
	overflow:hidden;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.shapebtn {
    width: 2.2em;
    height: 2.2em;
}
.toolbtn{
	background-image: url("../img/button1.png");
	background-size: 100% 100%;
	font-size: 2vmin;
}

.colorbtn{
	background-image: url("../img/button1.png");
	background-size: 100% 100%;
	font-size: 2vmin;
	
}
.colorbtn:focus{
	outline: none;
}
.blue {
    color: #95ccff;
}
.gray {
    color: #424242;
}
.yellow {
    color: #f1f827;
}
.white {
    color: white;
}
.red {
    color: red;
}

.border {
	background-image: url("../img/button2red.png");
	background-size: 100% 100%;
}

