body {
	background-color: lightblue;
}

#htmlContent {
	border: black solid 1px;
	height: 600px;
	width: 800px;
}

#container {
	width: 800px;
	height: 600px;
	margin:auto;
}

#playbookHeader {
	background-color: #e0e0e0;
	height: 5%;
	border-bottom: black solid 1px;
}

#playdrop {
	background-color: #e0e0e0;
	border: none;
	font-weight: bold;
	height:100%;
	border-radius:0px;
}

#playdrop:hover {
	background-color: white;
}

#playdrop:focus {
	background-color: white;
}

#pdfdrop {
	background-color: #e0e0e0;
	border: none;
	font-weight: bold;
	height:100%;
	border-radius:0px;
}

#pdfdrop:hover {
	background-color: white;
}

#pdfdrop:focus {
	background-color: white;
}

#playNameDate {
	box-sizing: border-box;
	background-color: white;
	margin: 0px;
	padding: 0px;
	border-right: black solid 1px;
	height: 95%;
	overflow-y: scroll;
}

#playInfo {
	background-color: white;
	height: 95%;
}

#playinfo h3{
	text-align: center;
	padding-top: 5px;
	word-spacing: 10px;
}

#tbl {
	vertical-align: top;
	width: 100%;
}

#tbl th{
	padding-left: 10px;
}

#desc-input {
	resize: none;
}

#playimg {
	margin: auto;
	height: 280px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
	background-color: #d4d4fc;
}
 
::-webkit-scrollbar-thumb {
    
	background-color: 8a8cff;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}